parameters:
	ignoreErrors:
		-
			message: '#^Method MartinGeorgiev\\Doctrine\\DBAL\\Types\\ValueObject\\Range\:\:empty\(\) should return static\(MartinGeorgiev\\Doctrine\\DBAL\\Types\\ValueObject\\Range\<R of DateTimeInterface\|float\|int\>\) but returns static\(MartinGeorgiev\\Doctrine\\DBAL\\Types\\ValueObject\\Range\<DateTimeInterface\|float\|int\>\)\.$#'
			identifier: return.type
			count: 1
			path: ../../../src/MartinGeorgiev/Doctrine/DBAL/Types/ValueObject/Range.php

		-
			message: '#^Method MartinGeorgiev\\Doctrine\\DBAL\\Types\\ValueObject\\Range\:\:fromString\(\) should return static\(MartinGeorgiev\\Doctrine\\DBAL\\Types\\ValueObject\\Range\<R of DateTimeInterface\|float\|int\>\) but returns static\(MartinGeorgiev\\Doctrine\\DBAL\\Types\\ValueObject\\Range\<DateTimeInterface\|float\|int\>\)\.$#'
			identifier: return.type
			count: 2
			path: ../../../src/MartinGeorgiev/Doctrine/DBAL/Types/ValueObject/Range.php

		-
			message: '#^Method MartinGeorgiev\\Doctrine\\DBAL\\Types\\ValueObject\\Range\:\:infinite\(\) should return static\(MartinGeorgiev\\Doctrine\\DBAL\\Types\\ValueObject\\Range\<R of DateTimeInterface\|float\|int\>\) but returns static\(MartinGeorgiev\\Doctrine\\DBAL\\Types\\ValueObject\\Range\<DateTimeInterface\|float\|int\>\)\.$#'
			identifier: return.type
			count: 1
			path: ../../../src/MartinGeorgiev/Doctrine/DBAL/Types/ValueObject/Range.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 4
			path: ../../../src/MartinGeorgiev/Doctrine/DBAL/Types/ValueObject/Range.php

		# Temporary suppression for PHPStan's lack of covariant generics support
		# Remove when PHPStan supports covariance (https://github.com/phpstan/phpstan/issues/7427)
		-
			message: '#.*Template type R on class.*Range is not covariant#'
			path: ../../../tests/Unit/MartinGeorgiev/Doctrine/DBAL/Types/ValueObject/

		-
			message: '#.*should return.*Range<DateTimeInterface\|float\|int>.*but returns.*Range#'
			path: ../../../tests/Unit/MartinGeorgiev/Doctrine/DBAL/Types/ValueObject/

		-
			message: '#.*Generator expects value type.*Range<DateTimeInterface\|float\|int>.*given#'
			path: ../../../tests/Unit/MartinGeorgiev/Doctrine/DBAL/Types/ValueObject/

		-
			message: '#.*extends generic class.*but does not specify its types#'
			path: ../../../tests/Unit/MartinGeorgiev/Doctrine/DBAL/Types/ValueObject/

		-
			message: '#.*should be compatible with return type#'
			path: ../../../tests/Unit/MartinGeorgiev/Doctrine/DBAL/Types/ValueObject/
