name: Auto Request Review

on:
  pull_request:
    types:
      - opened
      - ready_for_review
      - reopened

jobs:
  auto-request-review:
    name: Auto Request Review
    runs-on: ubuntu-latest
    steps:
      - name: Skip for repository owner
        id: check_owner
        if: github.event.pull_request.user.id == 4849482 # martin-georgiev
        run: |
          echo "skip=true" >> $GITHUB_OUTPUT
          echo "Skipping auto-review request for repository owner"

      - name: Request reviews based on configuration
        if: ${{ !steps.check_owner.outputs.skip }}
        uses: necojackarc/auto-request-review@e89da1a8cd7c8c16d9de9c6e763290b6b0e3d424 # v0.13.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
