name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/actions/release-please/**'
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

permissions:
  contents: read

jobs:
  should-run:
    runs-on: ubuntu-latest
    outputs:
      run: ${{ steps.check.outputs.run }}
    steps:
      - name: Skip for release-please
        id: check
        run: |
          if [ "${{ github.event.pull_request.user.id }}" = "41898282" ]; then
            echo "run=false" >> $GITHUB_OUTPUT
            echo "::notice::Skipping CI checks - this a release-please bot's interaction"
          else
            echo "run=true" >> $GITHUB_OUTPUT
            echo "::notice::CI checks will execute - the actor is not the release-please bot"
          fi

  code-quality:
    needs: should-run
    if: needs.should-run.outputs.run == 'true'
    runs-on: ubuntu-latest
    name: "Code Quality"

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2
        with:
          php-version: '8.5'
          extensions: ctype, json, mbstring
          tools: composer

      - name: Validate composer.json and composer.lock
        run: composer validate --strict

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-

      - name: Install dependencies
        run: composer install --prefer-dist --no-interaction --no-progress

      - name: Check code style
        run: composer check-code-style

      - name: Check for security vulnerabilities in 3rd party dependencies
        run: composer audit
