name: Release Please

on:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/**'
      - '!.github/workflows/release-please.yaml'

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    name: Create new release PR
    steps:
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config-file: .github/actions/release-please/config.json
          manifest-file: .github/actions/release-please/manifest.json

  purge-camo-cache:
    runs-on: ubuntu-latest
    name: Purge Camo's cache for README images
    steps:
      - uses: kevincobain2000/action-camo-purge@v1
