name: Sloth

on:
  merge_group:
  pull_request:

permissions:
  contents: read
  checks: read

jobs:
  sloth:
    runs-on: ubuntu-latest
    steps:
      - name: Skip for release-please
        id: check_release_please
        if: github.event.pull_request.user.id == 41898282 # release-please[bot]
        run: |
          echo "skip=true" >> $GITHUB_OUTPUT
          echo "Skipping Sloth check for release-please PR"

      - name: Run Sloth
        if: ${{ steps.check_release_please.outputs.skip }}
        uses: lendable/sloth@e1fd9a2df2549f6e64188f274bc5d3b39d7842ed # 0.2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          interval: 10
          ignored: |
            Auto Request Review
            CodeRabbit
            Scrutinizer
