name: Sloth

on:
  merge_group:
  pull_request:

permissions:
  contents: read
  checks: read

jobs:
  should-run:
    runs-on: ubuntu-latest
    outputs:
      run: ${{ steps.check.outputs.run }}
    steps:
      - name: Skip for release-please
        id: check
        run: |
          if [ "${{ github.event.pull_request.user.id }}" = "41898282" ]; then
            echo "run=false" >> $GITHUB_OUTPUT
            echo "::notice::Skipping Sloth - release-please PR"
          else
            echo "run=true" >> $GITHUB_OUTPUT
            echo "::notice::Sloth will execute - the PR author is not the release-please bot"
          fi

  sloth:
    needs: should-run
    if: needs.should-run.outputs.run == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Run Sloth
        uses: lendable/sloth@1d0ce54a04a834366b4af63362ffd0a58fc447ad # 0.2.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          interval: 15
          ignored: |
            CodeRabbit
            Scrutinizer
